.login-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.login-full-width {
    width: 100%;
}
  
.login-content{
    padding: 10px;
}

.login-actions {
    padding: 10px;
    margin-bottom: 20px !important;
}