<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let event of events" class="event-list">
        <mat-card class="event-card">
            <mat-card-header>                
                <mat-card-title>{{event.presentation.name}}</mat-card-title>
                <mat-card-subtitle>{{event.speaker.name}}</mat-card-subtitle>                                
                <mat-card-subtitle>{{event.date_event}} / {{event.start_hour}} - {{event.finish_hour}}</mat-card-subtitle>
            </mat-card-header>            
            <mat-divider></mat-divider>
            <mat-card-content class="content-card">
                <p>
                {{event.presentation.description}} 
                </p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a mat-button>
                    VIEW DETAIL
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>